@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

.dark body {
  background-color: black;
  color: white;
}

.dark .nav-links a {
  color: white;
}
