---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
	<div class='tags flex flex-wrap p-4'>
		{
			tags.map((tag) => (
				<p class='tag flex whitespace-nowrap'>
					<a
						class='p-2 px-4 text-xl mx-1 my-1 font-medium border gap-6 hover:bg-[#328eef]'
						href={`/tags/${tag}`}>
						{tag}
					</a>
				</p>
			))
		}
	</div>
</BaseLayout>
