---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
const pageTitle = "Blog";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout>
	<ul>
		{
			allPosts.map((post) => (
				<>
					<div>
						<div class='ml-6 mt-2 text-white absolute pointer-events-none z-10 pr-0 mr-0 w-[12rem] text-lg sm:text-xl font-bold bg-black bg-opacity-50 h-fit'>
							<p class='text-[#fffb00] font-bold text-xl sm:text-2xl'>
								{post.frontmatter.title}
							</p>
							<p>{post.frontmatter.description.substring(0, 64)}...</p>
						</div>
						<BlogCard
							link={post.frontmatter.link}
							url={post.frontmatter.image.url}
							title={post.frontmatter.title}
						/>
					</div>
				</>
			))
		}
	</ul>
</BaseLayout>
