---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>
