---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
const pageTitle = "Blog";
const allPosts = await getCollection("posts");
---

<BaseLayout>
	<ul>
		{
			allPosts.map((post) => (
				<>
					<div>
						<div class='ml-8 mt-4 p-2 text-white absolute pointer-events-none z-10 pr-0 mr-0 w-[60%] sm:w-[30%] text-lg sm:text-xl font-bold bg-black bg-opacity-50 h-fit'>
							<p class='text-[#fffb00] font-bold text-xl sm:text-2xl'>
								{post.data.title}
							</p>
							<p>{post.data.description.substring(0, 64)}...</p>
						</div>
						<BlogCard
							link={post.data.link}
							url={post.data.image.url}
							title={post.data.title}
						/>
					</div>
				</>
			))
		}
	</ul>
</BaseLayout>
