---
import Social from "./Social.astro";
---

<style>
	footer {
		display: flex;
		gap: 0.5rem;
		margin-top: 2rem;
	}
</style>

<footer class='ml-6 justify-between mb-8 whitespace-nowrap'>
	<div>
		<Social
			platform='madr.io'
			username=''
		/>
		<Social
			platform='github.com'
			username='madrclouddev'
		/>
	</div>
	<div class='mr-7'>
		<a
			class='dark:hover:text-[#fffb00] hover:text-[#328eef]'
			href='https://madr.blog/rss.xml'
			>RSS</a
		>
	</div>
</footer>
