---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class='flex text-2xl justify-between'>
	<div class='flex p-2 gap-4'>
		<a
			class='p-2 px-4 gap-6 hover:bg-[#fffb00] hover:text-black'
			href='/'
			>Blog</a
		>
		<a
			class='p-2 px-4 gap-6 hover:bg-[#fffb00] hover:text-black'
			href='/tags/'
			>Tags</a
		>
	</div>
	<ThemeIcon />
</div>
