---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class='flex text-2xl justify-between'>
	<div class='flex mt-2 ml-2'>
		<a
			class='py-2 pb-3 px-4 hover:bg-[#fffb00] hover:text-black'
			href='/'
			>Blog</a
		>
		<a
			class='py-2 pb-3 px-4 hover:bg-[#fffb00] hover:text-black'
			href='/tags/'
			>Tags</a
		>
	</div>
	<div
		class='mt-[1rem] mr-8 cursor-pointer hover:bg-[#328eef] rounded-full mb-3'>
		<ThemeIcon />
	</div>
</div>
