---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class='flex text-2xl justify-between'>
	<div class='flex p-2 gap-4 mt-2 pl-6'>
		<a
			class='p-2 px-4 pb-3 gap-6 hover:bg-[#fffb00] hover:text-black'
			href='/'
			>Blog</a
		>
		<a
			class='p-2 px-4 pb-3 gap-6 hover:bg-[#fffb00] hover:text-black'
			href='/tags/'
			>Tags</a
		>
	</div>
	<div class='mt-[1.6rem] mr-8 cursor-pointer'>
		<ThemeIcon />
	</div>
</div>
