---
import ThemeIcon from './ThemeIcon.astro';
---

<div class='flex w-full justify-between max-w-4xl p-2 mx-auto'>
	<div class='flex'>
		<a
			class='py-2 pb-3 px-4 hover:bg-[#328eef] hover:text-white'
			href='/'
			aria-label='Blog home page link'
			><img src='/MaDrLogoSmall.svg' /></a
		>
		<a
			class='py-5 px-4 font-bold text-2xl hover:bg-[#328eef] hover:text-white my-auto'
			href='/tags/'
			aria-label='Tags page link'
			>Tags</a
		>
	</div>
	<div class='flex flex-col justify-center mr-4'>
		<ThemeIcon />
	</div>
</div>
