---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class='flex text-2xl justify-between'>
	<!-- <div class='mt-[1.2rem]'>
		<div class='hamburger group'>
			<span class='line bg-white group-hover:bg-[#328eef]'></span>
			<span class='line bg-white group-hover:bg-[#328eef]'></span>
			<span class='line bg-white group-hover:bg-[#328eef]'></span>
		</div>
	</div> -->
	<div class='flex p-2 gap-4 mt-2'>
		<a
			class='p-2 px-4 gap-6 hover:bg-[#fffb00] hover:text-black'
			href='/'
			>Blog</a
		>
		<a
			class='p-2 px-4 gap-6 hover:bg-[#fffb00] hover:text-black'
			href='/tags/'
			>Tags</a
		>
	</div>
	<div class='mt-[1.6rem] mr-6'>
		<ThemeIcon />
	</div>
</div>
