---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class='flex text-2xl justify-between'>
	<div class='flex mt-2 ml-2 font-semibold'>
		<a
			class='py-2 pb-3 px-4 hover:bg-[#fffb00] hover:text-black'
			href='/'
			aria-label='Blog home page link'
			>Blog</a
		>
		<a
			class='py-2 pb-3 px-4 hover:bg-[#fffb00] hover:text-black'
			href='/tags/'
			aria-label='Tags page link'
			>Tags</a
		>
	</div>
	<div class='mt-[1rem] mr-8 cursor-pointer rounded-full mb-3'>
		<ThemeIcon />
	</div>
</div>
