---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link
			rel='icon'
			type='image/png'
			href='/favicon.png'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{pageTitle}</title>
	</head>
	<body class='max-w-2xl mx-auto justify-center'>
		<header class='sticky top-0 z-50 bg-white dark:bg-black'>
			<Navigation />
		</header>
		<slot />
		<Footer />
	</body>
</html>

<script is:inline>
	const theme = (() => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();

	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
</script>
